*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 93, 28);
    text-align: center;
    margin-top: 10%;
}

body, main{
    width: 100vw;
    height: 100vh;

    background-color: rgb(228, 239, 177);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner{
    width: 25vw;
    min-width: 400px;

    height: 70vh;
    min-height: 500px;
    max-height: 500px;

    border-radius: 50px;
    box-shadow: inset 0px 0px 10px rgb(193, 213, 92);
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
}

#formulario{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
}

#result-ajuda{
    width: 90%;
    height: 20%;
    display: flex;

    margin-top: 10%;
    margin-bottom: 5%;
}

#box-resultado{
    width: 100%;
    height: 100%;
}

#resultado{
    width: 100%;
    height: 100%;
    background-color: rgba(227, 222, 222, 0.966);
    border-radius: 20px;
    margin-left: 3%;
    text-align: center;
    font-size: larger;
}

#ajuda{
    width: 6%;
    height: 21%;
    border-radius: 100%;
    background-color: brown;
    color: antiquewhite;
    position: relative;
    left: -10%;
    top: 10%;
    border: 2px solid rgb(92, 92, 92)
}

#ajuda:hover{
    cursor: help;
}


#box-dados{
    margin-bottom: 5%;
    width: 80%;
    height: 20%;

    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dados{
    width: 45%;
    height: 100%;

    background-color: transparent;
    border-bottom: 1px solid black;

    text-align: center;
    font-size: larger;

}

.dados:hover{
    border-bottom: 3px solid black;
    border-radius: 3%;
}

.dados:focus{    
    outline: none;
    caret-color: transparent;
    border-bottom: 3px solid chocolate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#box-botoes{
    margin-top: 5%;
    width: 80%;
    height: 20%;

    gap:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botao-envio{
    width: 45%;
    height: 80%;
    font-size: large;
    border-radius: 20px;
}

.botao-envio:hover{
    box-shadow: 0px 0px 3px black;
}

#reset{
    background-color: brown;
    color: antiquewhite;
}

#calcula{
    background-color: rgb(28, 93, 28);
    color: antiquewhite;
}

#copyright{
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    
    margin-bottom: 2%;
    min-width: 350px;

    text-align: center;
}